<?xml version="1.0"?>
  <!-- Launch Jackal within the given world -->
  <launch>
    <arg name="use_sim_time" default="true" />
    <arg name="env_name" default="basic"/>		
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="world_name" default="$(find jackal_gazebo)/worlds/$(arg env_name).world" />

    <arg name="vlp_laser" default="true" />
    <arg name="default_config" value="vlp_laser" if="$(arg vlp_laser)" />
    <arg name="default_config" value="front_laser" unless="$(arg vlp_laser)" />

    <!-- Configuration of Jackal which you would like to simulate.
         See jackal_description for details. -->
    <arg name="config" default="$(arg default_config)" />

    <!-- Optionally enable teleop for the simulation -->
    <arg name="joystick" default="false" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="false" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="headless" value="$(arg headless)" />
      <arg name="world_name" value="$(arg world_name)" />
    </include>

    <!-- Spawn Jackal -->
    <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
      <arg name="x" value="0" />
      <arg name="y" value="0" />
      <arg name="z" value="1.0" />
      <arg name="yaw" value="0" />
      <arg name="config" value="$(arg config)" />
      <arg name="joystick" value="$(arg joystick)" />
    </include>
  </launch>
