<launch>
  <!-- Jackal configuration to view. See jackal_description for details. -->
  <arg name="config" default="base"/>

  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_viz)/rviz/model.rviz" />
</launch>
