<?xml version="1.0"?>
  <launch>
     <!-- \param "normal_dist" specifies the usage of "normal" or "normal log-normal (NLN)" mixture for sampling the rollouts (namely, MPPI or log-MPPI) -->
    <arg name="normal_dist" default="false" /> 
    <!-- \param "vlp_laser" launches jackal with Velodyne VLP-16 LiDAR sensor; otherwise, a 2D lider will be launched  -->
    <arg name="vlp_laser" default="true" /> 
    <!-- \param "without_heading" to navigate without taking into account the heading of the robot, as our Jackal is equipped with Velodyne VLP-16 LiDaR -->
    <arg name="without_heading" default="true" />

    <!-- Launch the 2D costmap node -->
    <include file="$(find mppi_control)/launch/costmap_launcher.launch" />
    
    <!-- Lanuch the MPPI controller with its parameters -->
    <include file="$(find mppi_control)/launch/mppi_launcher.launch">
      <arg name="normal_dist" value="$(arg normal_dist)"/>
      <arg name="without_heading" value="$(arg without_heading)" />
    </include>
  
    <!-- Launch the robot in Rviz with the specified world   --> 
    <include file="$(find jackal_viz)/launch/view_robot.launch">
      <arg name="config" default="mppi_costmap_sim" />
    </include> 

    <!-- Set the transformation between map (i.e., world) frame (that is related to ground_truth/odom topic) and base_link --> 
    <node name="jackal_tf" pkg="mppi_control" type="tf_transform.py" />
  </launch>
